/* reset : 기존에 html tag에 적용된 스타일을 div 기본 스타일로 통일(reser)해줘서 
레이아웃을 잡기 편리하도록 만들어주는 css. */

/* 선택자를 사용해서 연결된 파일의 스타일을 바꿔줌. */

/* *은 모든(all) tag라는 의미를 가진 선택자. */

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    /* inherit는 모두 상속받아라는 의미 */
    box-sizing: border-box;
    /* padding과 border를 포함해서 박스 사이즈가 늘어나는 것을 박스 안쪽으로 가둠. */
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

em,
i,
address {
    font-size: normal;
}

b,
strong {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    /* 문장 간의 공간을 폰트 사이즈와 동일하게 해서 레이아웃을 쉽게 구현할 수 있게 해줌. */
    line-height: 1;
    color: #444;
    /* 1은 1배라는 의미 */
}